---
const currentYear = new Date().getFullYear();
---

<footer
  class="text-gray-800 py-16 border-t border-primary-200"
>
  <p class="text-center">
    &copy; {currentYear} 21 días Clínica de Psicología. Todos los derechos reservados.
  </p>
</footer>
